body{
    background-color: rgba(242, 206, 218, 1);
}



nav{
    display: flex   ;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.links ul{
    display: flex;
    gap: 40px;
    list-style: none;
    color: rgba(21, 1, 1, 1);

    
}

nav button{
    width: 165px;
height: 49px;
border-radius: 5px;
background: #D23166;
color: #fff;
}


 .yoz p{
    color: #0F0101;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.4px;
}

 .yoz h1{
    width: 665px;
height: 130px;
color: #0F0101;
font-family: 'Times New Roman', Times, serif;
font-size: 57.33px;
font-style: normal;
font-weight: 400;
line-height: 120.5%;
opacity: 0.9;
color: #D23166;
font-family: Fredoka One;
font-size: 57.33px;
font-style: normal;
font-weight: 400;
line-height: 120.5%;
}


 .yoz h4{
    width: 523px;
height: 78px;
color: #0F0101;
font-family: Hind Madurai;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
}

.yoz button{
        width: 165px;
height: 49px;
border-radius: 5px;
background: #D23166;
color: #fff;
}


.yoz{
    margin-left: 254px;
    margin-top: 147px;
}

.right img{
    display: flex;
    margin-top: -400px;
    margin-left: 1000px;
}